# Composer deps
/vendor/

# Editor/IDE settings
/.idea/

###> symfony/framework-bundle ###
/.env.local
/.env.*.local
/public/bundles/
/var/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###
